# gitignore everything with no extension
*
!*.*
!Makefile

*.o
*.gz
*.o
*.zip
*.tsv
*.gz
random_ids
id_query_naive
id_query_indexed
id_query_binsort
coord_query_naive
coord_query_kdtree
o_*.txt
c_*.txt
all_ids.txt
q.txt
q20.txt
ids_*.txt
small*
kd*.txt
naive*.txt
*.o
*.zip
*.tsv
*.gz
random_ids
id_query_naive
id_query_indexed
id_query_binsort
coord_query_naive
coord_query_kdtree
o_*.txt
c_*.txt
all_ids.txt
q.txt
q20.txt
ids_*.txt
small*
kd*.txt
naive*.txt
